{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div>
        <a href="/">назад на главную</a>
    </div>

    <br>
    <br>

    <div>
        <a href="/create-course/?id={{id}}">Создать новый курс</a>
        <br>
        <h1>Список курсов для категории "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}}
        </li>
        {% endfor %}
    </div>
{% endblock %}