{% extends "base.html" %}
{% block title %}
Создание студента
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
	<div>
		<li>
			<a href="/create-student/">Создать студента</a>
		</li>
		<li>
			<a href="/add-student/">Добавить студента на курс</a>
		</li>
	</div>
    <h1>Список студентов</h1>
    <div>

        {% for item in objects_list %}
        <li>
            {{item.name}}
            {% for course in item.courses %}
                {{course.name}}
            {% endfor %}
        </li>
        {% endfor %}
    </div>
{% endblock %}